

@model UitleenbaarItem

<div class="categorie-card col-6 col-md-4 col-lg-3">
    <div class="card">
        <img class="card-img-top" src="~/images/default.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Model.Naam</h5>
            <p class="card-text">€@Model.Prijs</p>
            <a asp-action="Detail" asp-controller="Catalogue" asp-route-Id="@Model.Id" asp-route-Naam="@Model.Naam" asp-route-CategorieId="@Model.CategorieId" asp-route-Periode="@Model.Periode" asp-route-Prijs="@Model.Prijs"  class="btn btn-outline-dark">Detail</a>
        </div>
    </div>
</div>