@model WebApplication_Uitleendienst.Models.ViewModels.User.EditMagazijnContactViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Magazijnverantwoordelijke aanpassen</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditMagazijnContactPost" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="id" value="@Model.ContactMagazijn.id" />
            <div class="form-group">
                <label asp-for="ContactMagazijn.persoonId" class="control-label"></label>
                <select asp-for="ContactMagazijn.persoonId" name="persoonId">
                        <option value="@Model.ContactMagazijn.persoonId">@Model.ContactMagazijn.persoonId</option>
                </select>
                <span asp-validation-for="ContactMagazijn.persoonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Magazijnen" class="control-label"></label>
                <select asp-for="ContactMagazijn.magazijnId" name="magazijnId">
                    @foreach (var value in Model.Magazijnen) {
                        <option value="@value.Id">@value.Naam</option>
                    }
                </select>
                <span asp-validation-for="Magazijnen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Aanpassen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

